---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro'
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Services from '../components/Services.astro';
import Stack from '../components/Stack.astro'
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro'
---
<Layout>
  <div id="preloader">
  <div class="preloader-content">
    <div class="brand-text">AXVOL ESTUDIO</div>
    <!-- <img src="/favicon.svg" alt="Logo AXVOL" class="brand-logo fill-black!" /> -->
    <svg width="9" height="9" viewBox="0 0 9 9" fill="current" xmlns="http://www.w3.org/2000/svg" class='brand-logo'>
  <path
  d="M1.125 8.37891H0L3.55664 0H4.75781L8.33203 8.37891H7.13086L6.04688 5.74219H3.27539L3.57422 4.86328H5.68359L4.11914 1.06641L1.125 8.37891Z"
  />
  
</svg>
  </div>
</div>
	<header>
		<Navbar />
		<Hero />
	</header>
	<main id="contenido-principal" tabindex="-1" class="flex flex-col gap-y-16">
		<About />
		<Projects />
		<Services />
		<Stack />
		<Contact />
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>
