<div
  class=" h-dvh flex flex-col justify-around items-center gap-4 xl:gap-8
  border-b border-(--hairline) relative"
>
  <div
    class="h-full w-full grid auto-cols-auto grid-flow-col overflow-hidden absolute z-[1px]"
  >
    <div class="lineGold place-self-stretch rotate-12 border-x"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-l"></div>
    <div class="lineGold place-self-stretch rotate-12 border-x"></div>
  </div>

<div
    class="bg-radial from-(--gold) from-0% to-transparent to-80% opacity-20 absolute h-full w-full z-[1px] "
  >
  </div>
  <div class="flex flex-col justify-around gap-8 items-center">
    <p class="text-(--gold) text-sm md:text-base">ESTUDIO DE DESARROLLO DE SOFTWARE</p>

    <div class="flex flex-col w-full justify-center items-center select-none">
      <h1 class="text-7xl md:text-8xl mirrow tracking-[1%] md:tracking-[10%] font-serif">AXVOL</h1>
      <h2 class="text-sm md:text-xl lg:text-2xl text-center tracking-normal md:tracking-[5%] lg:tracking-[10%]">
        DISEÑAMOS PARA EL ESTÁNDAR. CONSTRUIMOS PARA EL IMPACTO.
      </h2>
      <span class="text-7xl md:text-8xl text-transparent">s</span>
    </div>

    <p class="font-mono w-4/5 md:text-base lg:text-xl">
      Desarrollamos Landing Pages y Web Apps a la medida. Sin plantillas lentas,
      solo código optimizado para que tus clientes te encuentren y confíen en
      ti.
    </p>
    <div class="flex gap-4 mb-auto z-10">
      <a href="#contacto" class="bg-(--gold) px-2 md:px-8 py-4 text-(--panel) font-mono"
        >INICIAR PROYECTO</a
      >
      <a
        href="#proyectos"
        class="border border-(--hairline) px-4 md:px-8 py-4 hover:border-(--gold) hover:text-(--gold) font-mono"
        >PROYECTOS</a
      >
    </div>
  </div>
</div>

