---
const stack = [
  {name: 'frontend', tec: ['Astro', 'React', 'Tailwind CSS', 'JavaScript']},
  {name: 'backend', tec: ['Node.js', 'Express', 'MySQL', 'Strpe API']}
]
---

<section
  class=" flex flex-col justify-center items-center gap-2.5 py-4 border-b border-(--hairline)"
  id="stack"
>
  <div class="w-4/5">
    <div>
      <p class="text-(--gold) font-mono mb-5 text-sm"><span class="text-(--gold) mr-0.5">—</span> STACK</p>
      <h2 class="text-lg md:text-4xl">TECNOLOGÍAS QUE USAMOS</h2>
    </div>
  <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-[400px] gap-5 justify-around mt-5">
    {
      stack.map((data, i) => (
        <div class="mt-4">
          <p class="uppercase border-b-2 border-(--hairline) mb-4 text-sm text-(--text-muted)">{data.name}</p>
          <ul class="flex flex-col justify-around h-full px-2">
            {data.tec.map((tects, i) => (
              <li class="border-b-2 border-(--hairline) pb-2 pl-2 group overflow-hidden ">
                <span class="inline-block relative text-(--text-muted) hover:text-(--text) text-xl md:text-4xl w-full group-hover:translate-x-4 group-hover:ease-in duration-150 ">
                  <span class="text-(--gold) absolute -translate-x-16 group-hover:-translate-x-6 ">></span>
                  {tects}
                </span>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  </div>
</section>